<div class="relative">
  <div class="shrink-0 lg:fixed top-0 left-0">
    <app-sider [menu]="menu"></app-sider>
  </div>
  <div
    class="pt-5 px-8 pl-[290px] bg-bg h-screen"
    style="flex-grow: 999; min-inline-size: 50%"
  >
    <div
      class="flex items-center justify-end p-2 bg-white my-2 mb-6 rounded-xl shadow-md"
    >
      <span
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="dropDown"
        class="border border-gray-500 px-2 py-1 rounded-full hover:text-blue-500 hover:cursor-pointer hover:border-blue-500 transition-all"
      >
        <span nz-icon nzType="user"></span>
      </span>
    </div>
    <div class="bg-white rounded-xl p-10 shadow-md">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</div>

<nz-dropdown-menu #dropDown="nzDropdownMenu">
  <div class="bg-white rounded border border-gray-200">
    <button nz-button nzType="link" (click)="logOut()">
      <span nz-icon nzType="logout"></span>
      Log out
    </button>
  </div>
</nz-dropdown-menu>
